ng-content
.select([ngClass]="{'is-open': isOpen}")
    button.select__button(type="button", (click)="isOpen = !isOpen")
        .select__arrow
        .select__current([class.select__current_placeholder]="!model.getCurrentLabel()")
          | {{ model.getCurrentLabel() || placeholder }}

button(type="button", (click)="model.setValue('')") Reset
