html
    establish-baseline()
    debug-vertical-alignment()
    font-family: $font-family
    font-weight: 400
    line-height: $rhythm(1)
    color: $primary-dark

p
  margin: 0
  line-height: $rhythm(1)
  margin-bottom: $rhythm(1)
