@import "~helpers/index"
@import "../checkbox/checkbox.component"

:host

  .label

    &:before
      border-radius: 50%

    &:after
      size: 6px
      border-radius: 50%
      background-color: #fff
      border: none
      top: 7px
      left: 7px
