@import "~helpers/index"

:host
  position: fixed
  top: 0
  left: 0
  z-index: 100
  padding: 0 20px
  width: 100%
  display: block
  height: $rhythm(2);
  background-color: $secondary-dark

.navigate
  float: right

.auth-link
  adjust-leading-to(2)
  color: #fff
  display: inline-block
  text-decoration: none
  padding: 0 10px
  font-weight: 500
  transition-single(color)
  hover-color($secondary-green)
  cursor: pointer

  &.accent
    adjust-font-size-to(16px, 2)
    color: $secondary-orange
    hover-color($primary-orange)

  &.active
    color: $secondary-green
    box-shadow: inset 0 rem(-3px) 0 $secondary-green
    pointer-events: none
    cursor: default
