include /mixins

input(
    [type]="type", #input, ngModel,
    [placeholder]="plc", class="{{ size }}", [tabindex]="tIndex", [name]="name"
)
.error
    .error-inner
        | Ошибка ошибка
        | Ошибка ошибка

button.toggle(type="button", (click)="toggleType('text', input)", *ngIf="type == 'password'"): +icon('eye')
button.toggle(type="button", (click)="toggleType('password', input)", *ngIf="type == 'text'"): +icon('eye-with-line')
