@import "../input/input.component.styl"

.toggle
    position: absolute
    top: 50%
    background-color: transparent
    border: none
    padding: 0
    right: rem(15px)
    transform: translateY(-50%)
    size: $rhythm(1)
    cursor: pointer

    .icon
        size: 100%
        fill: alpha($primary-gray, .5)

    &:hover

        .icon
            fill: $secondary-green


input
    padding-right: rem(30px) + $rhythm(1)

    &::-ms-reveal
        display: none

    &.big
        padding-right: rem(40px) + $rhythm(1.25)

        & ~ .toggle
            size: $rhythm(1.25)
            right: rem(20px)

    &:hover ~ .toggle

        .icon
            fill: alpha($primary-gray, 1)

